<h1>{{.PageTitle}}</h1>

This web site is provided in the name of Jesus Christ. It is dedicated to verifying Bible codes.<br><br>

Jesus's name in Greek is Ιησούς. When the numerical values for Jesus in Greek (Ιησούς) are added up you get 888. In Revelation 13:18, it is said "if one is wise and has an understanding to count the number of the beast, which is the number of a man, the number comes to 666.<br><br>

What follows is a descriptoin for how the Sumerian code is calculated.  The English letters A-Z are each assigned a number.  The code is as follows: A=6, B=12, C=18, D=24, E=30, F=36, and so on up to Z=156.  The letters in every word are added up. Spaces and punctuation are not counted.  In the phrases below, the letters add up to 888 and 666.<br>
<br>
<br>

<table class=gematria id=table1 class="center" border=1 style='font-family:"Courier New", Courier, monospace; font-size:200%'>
	<th>Phrase</th><th>English Gematria Calculation</th><th>Comments</th>
        {{range .GematriaJesus}}
	<tr><td>{{.Name}}</td><td>{{.Count}}</td><td>{{.Verse}}</td></tr>
        {{end}}
</table>

<br><br><br><br>

<table class=gematria id=table2 class="center" border=1 style='font-family:"Courier New", Courier, monospace; font-size:200%'>
	<th>Phrase</th><th>English Gematria Calculation</th><th>Comments</th>
        {{range .GematriaEvil}}
	<tr><td>{{.Name}}</td><td>{{.Count}}</td><td>{{.Verse}}</td></tr>
        {{end}}
</table>

<br>
<button type="button" class="block" onclick="window.location.href='awesomemath0.html';">
Next
</button>
<br>

</body>
</html>
