<h1>{{.PageTitle}}</h1>

The letters A-Z are assigned a code.  A=6, B=12, C=18, D=24, and so on up to Z.  The letters in every word are added up<br>
based on this code.  In the phrases below, the letters add up to 888 and 666.<br>

<br>
<br>

<table class=gematria id=table1 class="center" border=1 style='font-family:"Courier New", Courier, monospace; font-size:200%'>
	<th>Phrase</th><th>English Gematria Calculation</th>
        {{range .GematriaJesus}}
	<tr><td>{{.Name}}</td><td>{{.Count}}</td></tr>
        {{end}}
</table>

<br><br><br><br>

<table class=gematria id=table2 class="center" border=1 style='font-family:"Courier New", Courier, monospace; font-size:200%'>
	<th>Phrase</th><th>English Gematria Calculation</th>
        {{range .GematriaEvil}}
	<tr><td>{{.Name}}</td><td>{{.Count}}</td></tr>
        {{end}}
</table>

<br>
<button type="button" class="block" onclick="window.location.href='awesomemath0.html';">
Next
</button>
<br>


</body>
</html>
